.mainHome {
    background-color: var(--menu-primary);
    margin-top: 100px;
    margin-left: 160px; 
    min-height: 100vh; /* Make sure it covers at least full viewport height */
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1; /* Make sure it sits properly in stacking */
    
  }
  