.avatarP{
    align-self:center;
    
    padding: 55px 90px;
    border-radius: 100%;
    background-color: #339A24;
    color: var(--menu-text-secondary);
    font-size: 90px;
}
.headerP{
    margin: 10px;
}
.mainP{
    display: flex;
    flex-direction: column;
    background-color: var(--menu-primary);
    margin-top: 100px;
    margin-left: 166px; 
    min-height: 100vh;
    min-width: 85vw;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1; 
    color: var(--menu-text-secondary);
    
}
.idk{
    display: flex;
    justify-content: space-between;
}
.logoutP{
    margin-top: 20px;
    margin-right:30px;
}
.logoutP img{
    width:30px
}
.headerP{
    display: flex;
    align-items: center;
}
.descP{
display: flex;
flex-direction: column;
margin-left: 30px;
align-items: flex-start;
}
.titleP{
    font-size: 70px;
    font-weight: 700; margin-bottom: 5px;
    margin-bottom: 20px;
}   
.totalP{
    display: flex;
    gap:20px;
    color:var(--menu-text-primary);
    font-size: 14px;
    margin-left: 10px;
}
.totalP > div > div{
    color:var(--menu-text-secondary);
    font-size:28px;
    margin-top: 10px;
    font-weight: 600;
}
.tabsP{
    display: flex;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    gap:25px;
    margin-left: 30px;
    color: var(--menu-text-primary);
}

.libP.clickedP,.FriP.clickedP{
color: var(--menu-text-secondary);
border-bottom: 2px solid #26BBFF;

}

.libP:hover,.FriP:hover{
    color: var(--menu-text-secondary);
    
}
.contentP{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.gameCardP{
    display: flex;
    
    margin:30px 10px;
    max-width: 1000px;
    padding: 20px 10px;

}
.thumbnailP{
    width:350px;
    height: auto;
    border-radius: 15px;
}
.cardDescP{
    display: flex;
    flex-direction: column;
    color:var(--menu-text-primary);
    font-size: 14px;
    font-weight: 500;
    align-items: flex-start;
    margin: 10px 20px;
}
.cardtitleP{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--menu-text-secondary);
}

.gameCardP:hover,.friendP:hover{
    background-color: var(--menu-secondary);
}
.friendP{
    display: flex;
    margin:30px 10px;
    max-width: 1000px;
    padding: 20px 10px;

}
.cardavatarP{
    font-size: 30px;
    padding:20px 30px;
    align-self:center;
    
    border-radius: 100%;
    background-color: #339A24;
    color: var(--menu-text-secondary);
    
}