.leftSide,.rightSide,.main{
display: flex;
}
* {

    box-sizing: border-box;
    font-family: sans-serif;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-primary);
    min-height: 100vh;
    
    
  }
  
  html, body, #root {
   
    margin: 0px;
    padding: 0px;
     
  }

.main{
    
    height: 50vh;
    min-width: 75vw;
    min-height: 85vh;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    background: var(--bg-secondary);
    border-radius: 10px;
    
    
}

.leftSide,.rightSide{
width:50%;
height: 100%;
border-radius: 10px;

}

.leftSide{
    
    background-color: var(--bg-secondary);
    padding-left: 35px;padding-right: 55px;
    padding-top: 25px; padding-bottom: 25px;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}

.rightSide{
   
    overflow: hidden;
    
    background: var(--bg-primary);
    background-image: url('../../assets/images/thumbnails/acshadows.jpg');
    background-size: cover; 
    background-position: center; 
}



.logo img{
    width: 60px; height: 60px;
    object-fit: contain ;
    
}

.logo{
    margin: 0px;padding: 0px;
    height: 60px;
}

.login,.createAccount{
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    
    
}
.login::active, .createAccount::active{
    transform: scale(0.98) translateY(1px); /* Slight push down */
    filter: brightness(0.95); /* Darkens slightly */
}

.loginText,.createAccountText{
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    
}
.login.dark,.createAccount.dark{
    
    background-color: #010101;
}


.loginText.dark, .createAccountText.dark{
    background-color: #010101;
    color: #FFFF;
}

.buttons{
    display: flex;
    margin-bottom: 30px; margin-top: 10px;
}

.buttons div{
    color:var(--text-primary);
    display: flex;
    border-radius: 10px;
    font-size: 14px;
    padding-top:5px; padding-bottom:5px;
    padding-right:15px; padding-left:15px;
    background-color: var(--bg-primary);
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;

}   
.login img, .createAccount img{
    width: 20px;
    height: 20px;

    margin-right: 2px;
}
.greeting{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 15px;
    color:var(--text-primary);

}
.greeting .title{
    font-size: 25px;
    color:var(--text-primary);
}
.greeting  span{
    font-weight: 800;
}
.greeting .msg{
    font-size: 14px;
    color: var(--text-secondary);
   
}

.enter{
    display: inline-flex;
    background: #e32d36;
    min-width:50px; min-height:50px;
    border-radius: 100%;
    padding:4px;
    margin-top: 20px;
    margin-left: 15px;
    vertical-align: middle;
    justify-content: center; align-items: center;

}
.enter:hover{
    background: #ba161e;
}
.enter img{
    object-fit: contain;
    max-width: 25px;
    max-height: 20px;
}

.passwordContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.continue{
    display: flex;
    /* color: #D5D5D5; */

    color:var(--text-secondary);
    font-size: 14px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.text{
    display: flex;
    width: 100%;
}
.line{
    margin-top: 10px;
    background:var(--text-secondary);
    height: 1px ; width: 100%;
    min-height: 1px; min-width: 10%;
}
.continueText{
    text-wrap: nowrap;
    text-align: left;
}

.forgot{
    font-size: 10px;
    color: var(--text-primary);
}

.icons{

    display: flex;
   align-self: flex-start;
}

.discord, .whatsapp, .instagram{
    object-fit: contain;
    width:20px;
    height:20px;
}
.google{
    width:15px;
    height:15px;
}


.icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    margin-right:20px;
    padding-left: 35px; padding-right:35px ;
    padding-top:10px; padding-bottom: 10px;
}
.icons div:hover{
    background-color: var(--hover);
}

.arrows{
    margin-left: auto;
    display: flex;
    margin-right:15px;
    margin-top:10px;
    gap:2px
}
.left, .right{
    margin-top:10px;
    margin:2px;
    border-radius: 100%;
    background-color: var(--bg-secondary);
    width:22px; height:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12px;
    
}
.left img, .right img{
    object-fit: contain;
    width:10px; height:10px;

}
.left img{
    transform:rotate(180deg);
}


