:root{
    --bg-primary:#efefef;   
    --bg-secondary:#FFFF;
    --text-primary:black;
    --text-secondary:#969696;
    --hover: rgb(223, 222, 222);  
    /* --dark-bg-prim: #323232;
    --dark-bg-sec:    #1E1E1E;  
    --dark-text-prim: white;
    --dark-text-sec: #969696;
    --dark-hover:#262626; */
    --menu-primary:#FFFFFF;
    --menu-secondary:#F4F5F9;
    --menu-text-primary:black;
}

body.dark-mode{
    --bg-primary:    #323232;
    --bg-secondary:  #1E1E1E;
    --text-primary:  white;
    --text-secondary:#969696;
    --hover:         #262626; 
    --menu-primary:#101014;
    --menu-secondary:#202024;
    --menu-text-primary:#B1B1B3;
    --menu-text-secondary:#FFFF;
     
}