:root{
    --bg-primary:#EFEFEF;   
    --bg-secondary:#FFFF;
    --text-primary:black;
    --text-secondary:#969696;
    
}

[data-theme="dark"]{
    --bg-primary:#323232;
    --bg-secondary:#1E1E1E;
    --text-primary:white;
    --text-secondary:#969696;
    
}