.body{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    
    margin-top: 8px;

}
.field::placeholder {
    color: #999;
    font-style: italic;
    opacity: .8; 
  }
.fieldtitle{
    font-size: 14px;
    color:#969696;
    
}

.field{
    border-radius: 10px;
    width: 100%;
    height: 48px;
    border: 1px solid #D5D5D5 ;
    color:#969696;
    padding:10px
}