
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    font-size: 13px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 175px;
    width: 100%;
    height: 100px;
    background: var(--menu-primary);
    color: var(--menu-text-primary);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
        justify-content:space-between;
        align-items: center;
}

/* Permanent Sidebar Styles */
.permanent-sidebar {
    position: fixed;
    top: 0px; 
    left: 0;
    width: 175px;
    height: 100vh; 
    background: var(--menu-primary);
    color: var(--menu-text-primary);
    z-index: 999;
    overflow-y: auto;
    
}

.sidebar-content {
    padding: 20px;
    
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;

}

.sidebar-nav li {
    margin-bottom: 15px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    margin-top: 20px;
    
}
.sidebar-nav li img{
    width: 20px;
    height:auto;
    
    margin-right: 30px;

}


.sidebar-nav a {
    color: var(--menu-text-primary);
    text-decoration: none;
    display: block;
    padding: 8px 0;
    transition: color 0.2s;
}

.sidebar-nav a:hover {
    color: var(--hover);
}


.main-content {
    margin-top: 60px; 
    margin-left: 250px;
    padding: 20px;
    min-height: calc(100vh - 60px);
}


.logo{
    width:60px; height:60px;
    
}


.arrow{
    width:15px; height:15px;
    transform: rotate(180deg);
}

.search{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: #202024;
    color: #B1B1B3;
    padding-top: 10px;padding-bottom: 10px;
    text-align: left;
    align-items: center;
    justify-content: center;

}

.search img{
    width:14px; height:15px;
    color: var(--menu-primary);
    margin-left: 10px;margin-right: 10px;
    margin-top:1px;
}
input{
    all: unset;     
 
}
input::placeholder,.search-input{
    
    color:#B1B1B3;
    font-size: 13px;    
}

.main-nav,.sec-nav{
    display: flex;
    flex-direction: row;
    gap:23px;
    font-size: 14px;
}
.main-nav{
    margin-left:50px;
}
.sec-nav{
    padding-right: 35px;padding-top:4px;padding-bottom: 4px;
    border-right: 1px solid #B1B1B3;
    margin-left: 370px;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-left:40px;
}
.avatar{
    align-self:auto;
    margin-right:185px
}
.avatar img{
    width:35px; height:auto;
}